In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

In [4]:
data = pd.read_csv('Advertising.csv', sep=',', encoding='utf-8')
data.head()
feature_cols = ["TV", "Radio", "Newspaper"]
X = data[feature_cols]
y = data["Sales"]
x1 = X[["TV"]]
x2 = X[["Radio"]]
x3 = X[["Newspaper"]]

In [6]:
lm = smf.ols(formula="y~x1", data = data).fit()
lm.rsquared

0.611875050850071

In [7]:
lm = smf.ols(formula="y~x2", data = data).fit()
lm.rsquared

0.33203245544529536

In [8]:
lm = smf.ols(formula="y~x3", data = data).fit()
lm.rsquared

0.05212044544430516

In [9]:
df2 = pd.read_csv('datasets/raw/insurance.csv', sep=',', encoding='utf-8')
df2.head(10)

    age     sex     bmi  children smoker     region      charges
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520
5  31.0  female  25.740         0     no  southeast   3756.62160
6  46.0  female  33.440         1     no  southeast   8240.58960
7  37.0  female  27.740         3     no  northwest   7281.50560
8  37.0    male  29.830         2     no  northeast   6406.41070
9  60.0  female  25.840         0     no  northwest  28923.13692

In [10]:
# Mapear valores de la columna 'sex'
df2['sex'] = df2['sex'].map({'female': 1, 'male': 2})

# Mapear valores de la columna 'smoker'
df2['smoker'] = df2['smoker'].map({'yes': 1, 'no': 0})
lm2 = smf.ols(formula="charges~age+sex+bmi+children+smoker", data = df2).fit()
lm2.params

Intercept   -12069.699949
age            258.862396
sex           -109.357734
bmi            325.888207
children       469.952481
smoker       23822.818242
dtype: float64